<footer class="nosaj-footer container">
  <div class="heart">
    <%- include('../../public/heart.svg') %>
  </div>
  <div>Hey, keep on being awesome</div>
  <div>
    &copy; Jason Howmans <%= new Date().getFullYear() %>
  </div>
</footer>

</body>
</html>