<header class="navbar container surround flex justify-space-between align-center">
  <a class="noop logo nosaj-svg" href="/">
    <%- include('../../public/nosajio.svg') %>
  </a>
  <nav class="navigation">
    <ul class="navlist" role="navigation">
      <li class="navitem"><a href="/">All Posts</a></li>
      <li class="navitem"><a href="https://twitter.com/nosajio">Twitter</a></li>
    </ul>
  </nav>
</header>