.button_container {
  color: white;
  background: var(--color-buttons);
  font-weight: 700;
  font-size: var(--ms--1-rem);
  border-radius: var(--ms-1-rem);
  /* display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; */
  padding: var(--ms--4-rem) 1rem calc(var(--ms--4-rem) - 1px);
  transition: background-color 300ms var(--ease-out-quad);
}

.button_container:hover {
  background: var(--color-buttons-hover);
}

/* @media (--bp-medium) {
  .button_container {
  }
} */
