<footer class="nosaj-footer container surround">
  <div class="heart">
    <%- include('../public/heart.svg') %>
  </div>
  <div>Keep on being awesome</div>
  <div>
    &copy; Jason Howmans <%= new Date().getFullYear() %>
  </div>
</footer>
</body>

</html>