<header class="navbar">
  <a class="logo" href="/">
    <img src="/nosajio.svg" alt="nosaj.io" role="logo" />
  </a>
  <nav class="navigation">
    <ul class="navlist" role="navigation">
      <li><a href="/">Blog</a></li>
      <li><a href="https://twitter.com/nosajio">Twitter</a></li>
    </ul>
  </nav>
</header>