<%- include('includes/header') -%>
  <main class="page">
    <%- include('includes/navbar') %>

    <section class="container intro">
      <div class="content-surface">
        <p class="bold">
          <em>Hello, I’m Jason.</em> I create useful & beautiful digital products. I’m interested in using technology to improve the human experience.
        </p>
        <p class="bold">Working on <span class="hush">[secret]</span>.</p>
        <p>Contact jason@nosaj.io</p>
      </div>
    </section>

    <div class="posts-title container">
      <h1>
        <span class="text">Latest Posts</span>
      </h1>
    </div>
    <div class="container posts-home">
      <%- include('posts-list/list') %> 
    </div>
</main>
<%- include('includes/footer') -%>