<%- include('_header') -%>
  <article class="container post">
    <h1>
      <%= title %>
    </h1>
    <section class="post-body">
      <%- html %>
    </section>
  </article>
  <%- include('_footer') -%>