:root {
  --color-black-000: #111111;
  --color-black-100: #2B2B2B;
  --color-black-200: #454545;
  --color-black-300: #5E5E5E;
  --color-black-400: #787878;
  --color-black-500: #919191;
  --color-black-600: #ABABAB;
  --color-black-700: #C4C4C4;
  --color-black-800: #DEDEDE;
  --color-black-900: #F7F7F7;

  --color-primary: #30E630;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
