.container {
  display: flex;
  /* flex-flow: column nowrap; */
  /* align-items: center; */
  justify-content: center;
}

.content {
  width: 100%;
  max-width: var(--content-max-width);
  padding-left: var(--ms--1-rem);
  padding-right: var(--ms--1-rem);
}

@media (--bp-medium) {
  .content {
    padding-left: var(--ms-4-rem);
    padding-right: var(--ms-4-rem);
  }
}
