.container {
  display: flex;
  flex-wrap: wrap;
  /* flex-flow: column nowrap; */
  /* align-items: center; */
  justify-content: center;
}

.content {
  width: 100%;
  max-width: var(--content-max-width);
  padding-left: var(--ms--1-rem);
  padding-right: var(--ms--1-rem);
}

.pt {
  padding-top: var(--ms-5-rem);
}

.pb {
  padding-bottom: var(--ms-5-rem);
}

@media (--bp-medium) {
  .content {
    padding-left: var(--ms-4-rem);
    padding-right: var(--ms-4-rem);
  }

  .pt\:medium,
  .pt {
    padding-top: var(--ms-8-rem);
  }

  .pb\:medium,
  .pb {
    padding-bottom: var(--ms-8-rem);
  }
}

@media (--bp-large) {
  .content {
    padding-left: 0;
    padding-right: 0;
  }
}
