.home_content {
  width: 100%;
  display: grid;
  grid-template-areas:
    'portrait-opener'
    'links'
    'logos';
  grid-template-rows: auto;
  row-gap: var(--ms-4-rem);
}

.portrait_opener {
  grid-area: portrait-opener;
  display: grid;
  grid-template-rows: auto;
  grid-template-areas:
    'portrait'
    'opener'
    'sub';
  row-gap: var(--ms-1-rem);
}

.opener {
  grid-area: opener;
}

.opener_sub {
  grid-area: sub;
  font-size: var(--ms-1-rem);
}

.links {
  grid-area: links;
}

.logos {
  grid-area: logos;
}

.logos_title {
  color: var(--color-black-400);
  font-size: var(--ms--1-rem);
}

.logo_images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: var(--ms--1-rem);
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.logo_images > li {
  display: block;
}

.logo_images > li > img {
  display: block;
  height: auto;
}

.portrait {
  grid-area: portrait;
  background: url('/jason.png') center / cover;
  width: 100%;
  max-width: 542px;
  border-radius: var(--ms--3-rem);
}

.portrait::after {
  content: '';
  display: block;
  padding-top: 61.993%;
}
