.section_head {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  column-gap: var(--ms--1-rem);
}

.section_head::before,
.section_head::after {
  content: '';
  display: block;
  height: 100%;
}

.section_head::before {
  background: no-repeat url('/ui/explode-hr-l.svg') center left / cover;
}
.section_head::after {
  background: no-repeat url('/ui/explode-hr-r.svg') center right / cover;
}

.section_head h1 {
  font-family: var(--fontset-heading);
  font-size: var(--ms--1-rem);
  letter-spacing: 0.04ch;
  text-align: center;
  color: var(--color-primary);
}

.services_content {
  display: grid;
  grid-template:
    'opener' auto
    'visual' auto
    'text' auto
    'list' auto
    'footer' auto
    'quotes' auto / 1fr;
  row-gap: var(--ms-1-rem);
  margin-top: var(--ms-2-rem);
}

.services_content p {
  margin: 0;
}

.services_text {
  grid-area: text;
}

.services_text p + p {
  margin-top: 1rem;
}

h2.text_heading {
  margin-bottom: var(--ms--2-rem);
}

header.text_opener {
  grid-area: opener;
}

header.text_opener p {
  font-size: var(--ms-1-rem);
  font-weight: 500;
}

.services_visual {
  grid-area: visual;
}

.services_list {
  grid-area: list;
}

footer.services_footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
}

@media (--bp-large) {
  .section_head h1 {
    font-size: var(--ms-1-rem);
  }

  .services_content {
    margin-top: var(--ms-6-rem);
    row-gap: var(--ms-4-rem);
    grid-template:
      'opener quotes' auto
      'list quotes' auto
      'text quotes' auto
      'footer quotes' auto / 449px 1fr;
  }

  footer.services_footer {
    justify-content: unset;
  }
}

/* Testimonials */

.stars {
  filter: drop-shadow(0px 0px var(--ms--3-rem) rgba(228, 170, 21, 0.7));
  width: 116px;
  display: grid;
  column-gap: var(--ms--4-rem);
  grid-auto-flow: column;
}

.quotes {
  justify-self: center;
  grid-area: quotes;
  max-width: 440px;
  list-style-type: none;
  margin: 0;
  display: grid;
  grid-gap: var(--ms-4-rem);
  grid-auto-rows: auto;
  justify-content: stretch;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  border-radius: var(--ms--3-rem);
  padding: var(--ms-2-rem);
}

.quote_stars {
  display: flex;
  justify-content: center;
}

.quote_item {
  position: relative;
  width: 100%;
  padding: var(--row-gap) 0;
}

.quote_item blockquote {
  display: block;
  margin: 0;
}

.quote_item p {
  margin: 1rem 0;
  font-weight: 500;
  width: 100%;
}

.quote_item .logo {
  width: 100%;
}

.quote_item .pave.logo {
  background: no-repeat url('/logos/pave.svg') center / contain;
  height: var(--ms--1-rem);
}

.quote_item .frontier.logo {
  background: no-repeat url('/logos/frontier-corona.svg') center / contain;
  height: var(--ms-2-rem);
}

.quote_item .tradespace.logo {
  background: no-repeat url('/logos/tradespace.svg') center / contain;
  height: var(--ms-2-rem);
}

.quote_footer {
  text-transform: uppercase;
  color: var(--color-primary);
  font-size: var(--ms--2-rem);
  font-weight: 500;
  letter-spacing: 1px;
  justify-self: flex-end;
}

.footer_where {
  opacity: 0.6;
}

@media (--bp-medium) {
  .quotes {
    padding: var(--ms-4-rem);
  }

  .quote_item .pave.logo {
    height: var(--ms-2-rem);
    background-size: auto var(--ms-1-rem);
  }

  .quote_item .frontier.logo {
    height: var(--ms-3-rem);
  }

  .quote_item .tradespace.logo {
    height: var(--ms-3-rem);
  }
}
