<a href="/r/<%= slug %>" class="posts-list-item">
  <span class="post-row-date"><%= nice_date %> </span>
  <h2 class="post-row-title"><%= title  %> </h2>
  <% if (post_sample) { %>
    <p class="post-row-sample"><%= post_sample %> </p>
  <% } %>
</a>