.nosaj_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--ms--1-rem);
  padding-bottom: var(--ms--1-rem);
  min-height: 74px;
}

.nosaj_logo {
  display: block;
  width: 85px;
  height: 12px;
  background: no-repeat url('/nosaj-logo.svg') center / contain;
}

.call_btn {
  display: block;
  box-shadow: none;
  font-size: var(--ms--1-rem);
  font-weight: 700;
  background: #040606;
  padding: var(--ms--4-rem) var(--ms--1-rem);
  line-height: 1;
  border-radius: 3px;
}

.call_btn:hover {
  background: rgba(255, 255, 255, 0.2);
}

@media (--bp-medium) {
  .nosaj_header {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .nosaj_logo {
    width: 107px;
    height: 16px;
  }
}
