/* Novela */
@font-face {
  font-family: 'novela';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Novela-DisplayRegular.woff') format('woff');
}

@font-face {
  font-family: 'novela';
  font-style: italic;
  font-weight: 400;
  src: url('./fonts/Novela-DisplayItalic.woff') format('woff');
}

@font-face {
  font-family: 'novela';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/Novela-Semibold.woff') format('woff');
}

@font-face {
  font-family: 'novela';
  font-style: italic;
  font-weight: 600;
  src: url('./fonts/Novela-SemiboldItalic.woff') format('woff');
}

@font-face {
  font-family: 'novela';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/Novela-Bold.woff') format('woff');
}

@font-face {
  font-family: 'novela';
  font-style: italic;
  font-weight: 700;
  src: url('./fonts/Novela-BoldItalic.woff') format('woff');
}

/* Geomanist */
@font-face {
  font-family: 'geomanist';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Geomanist-Book.woff') format('woff');
}

@font-face {
  font-family: 'geomanist';
  font-style: italic;
  font-weight: 400;
  src: url('./fonts/Geomanist-Book-Italic.woff') format('woff');
}

@font-face {
  font-family: 'geomanist';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/Geomanist-Medium.woff') format('woff');
}

@font-face {
  font-family: 'geomanist';
  font-style: italic;
  font-weight: 500;
  src: url('./fonts/Geomanist-Medium-Italic.woff') format('woff');
}