@import url('fonts.scss');

body {
  font-family: novela, 'Apple Garamond', 'Baskerville', 'Times New Roman',
    'Droid Serif', 'Times', 'Source Serif Pro', serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

h1 span,
h2 span,
h3 span,
h4 span {
  display: block;
}
