@use './fns/ms.scss' as ms;

.container {
  width: 100%;
  padding-left: var(--content-padding);
  padding-right: var(--content-padding);

  &.first {
    padding-top: var(--content-padding);
  }

  &.surround {
    padding-top: var(--content-padding);
    padding-bottom: var(--content-padding);
  }
}

.content-surface {
  width: 100%;
  max-width: var(--content-max-width);
  // padding: var(--content-padding);
  margin-left: auto;
  margin-right: auto;

  &.surround {
    padding: var(--content-padding);
  }
}

.reading-bg {
  background: var(--color-reading);
}

.flex {
  display: flex;

  &.column {
    flex-direction: column;
  }

  &.justify-space-between {
    justify-content: space-between;
  }

  &.align-center {
    align-items: center;
  }
}
